# Zend #
#####################
nbproject
._*
.~lock.*
.buildpath
.idea
.project
.settings
INSTALL.txt
LICENSE.txt


# Composer #
############
composer.lock
composer.phar
vendor

# OS #
######
.DS_Store

# ReactJS #
############
frontend/node_modules